__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
instance/
.webassets-cache
.scrapy
docs/_build/
.coverage
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
media/
*.mp3
audio/
.DS_Store
Thumbs.db
.env